# Python-related files
*.pyc
__pycache__/
*.pyo
*.pyc

# Virtual environments
venv/
env/
*.venv/

# Compiled Python bytecode
*.pyc
*.pyo
__pycache__/

# Compiled dbt artifacts
target/

# IDE and text editor files
.idea/
.vscode/
*.swp
*~

# System files and directories
.DS_Store
Thumbs.db

# Configuration files
client.properties
config.ini
kafka_2.13-3.7.0